.done{
    text-decoration: line-through;
    background-color:#5C8C39;}
.pending{
    background-color: #F68335;}
.expired{
    text-decoration: line-through;
    background-color: #c42318;}
.todo{
    display: flex;
    flex-direction: column;
    align-items: center;}
.task{
    margin:5px;
    min-width:340px;
    border-style: solid;
    border-width: 0.5px;}
.hr{
    margin: 0px;
    color:#F68335;}
.cardBottom{
    display:flex;
    flex-direction: row;
    justify-content:flex-end;}
.delete{
    background-color: #c42318;
    color:#000;}
.complete{
    background-color: #5C8C39;
    color:#000;}
.edit{
    background-color: #006edc;
    color:#000;}
.date{
    position: relative;
    right: 12%;
    margin-top: 5px;}
